{
  "service_name": "Shippo.vn",
  "rootApi": "https://apix.shippo.vn/",
  "shippo_old": "https://admin.shippo.vn/#/",
  "rider_service": "http://apix.shippo.vn/",
  "locale": "vi"
}//public
{
  "service_name": "Shippo.vn",
  "rootApi": "https://sandbox-apix.shippo.vn",
  "shippo_old": "http://oldsandbox-panda.shippo.vn/#",
  "rider_service": "https://sandbox-apix.shippo.vn",
  "locale": "vi"
}
//local dev
{
  "rootApi": "http:///192.168.100.254",
  "operator_service": "http://192.168.100.254",
  "auth_service": "http://192.168.100.254",
  "rider_service": "http://192.168.100.254",
  "locale":"vi"
}
//config new
{
  "service_name": "Shippo.vn",
  "rootApi": "http://192.168.2.253",
  "shippo_old": "http://sandbox-panda.shippo.vn/#/",
  "rider_service": "http://192.168.2.253",
  "locale": "vi"
}